<h1 mat-dialog-title>
  {{create ? 'Create new pair' : 'Edit'}}
  <button mat-icon-button (click)="rediscovery()"><mat-icon>refresh</mat-icon></button>
</h1>

<div mat-dialog-content *ngIf="devSrv.AllDevices | async as allDevices">
  <form [formGroup]="fg">
    <mat-form-field>
      <mat-select formControlName="camera" placeholder="Camera">
        <mat-option [value]="v" *ngFor="let v of allDevices.Camera">{{v.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="controller" placeholder="Controller">
        <mat-option [value]="v" *ngFor="let v of allDevices.Controller">{{v.displayName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="submit()">Submit</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
