:host {
  width: 100%;


  .arrow-icon-button {
    width: unset;
    font-size: 26px;
    vertical-align: middle;
  }

  #input-field {
    margin: 0 5px;
  }


  mat-form-field {
    text-align: center;
    flex-basis: 60px;
    display: block;
    width: 0; // reset the width set in .mat-form-wrapper-infix
  }

  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  mat-slider {
    min-width: 0;
    flex: 1 1 128px;
  }
}
