@import "~@angular/material/theming";
.error {
  color: red;
}

.prompt-container {
  max-height: 300px;
}

.alt {
  background: mat-color($mat-gray, 100);
}

p {
  margin: 0;
}

.done-button {
  margin: auto;
}
