<mat-toolbar class="mat-elevation-z6" color="primary" >
  <mat-toolbar-row>
    <button (click)="toggleMenu()" mat-icon-button  class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title"> MicroVision Dashboard</span>
    <span class="space-filler"></span>
    <div class="right" fxHide.lt-md>
      <button mat-icon-button class="user-button">
        <mat-icon>
          account_circle
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
