<div class="mat-typography" *ngIf="!stream">
  No stream found. Have you connected the pair in device configuration?
</div>


<div style="height: 100%;" *ngIf="stream">
  <mat-sidenav-container hasBackdrop="false">
    <mat-sidenav [opened]="showConfigurePanel" [mode]="smallScreen ? 'over' : 'side'" position="end">
      <app-configure-panel id="configure-panel"></app-configure-panel>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-card
        id="preview-card"
        (dblclick)="dbClickToggleState()">
        <mat-card-title>
          Preview
        </mat-card-title>
        <mat-card-subtitle>
          {{stream.name}}
        </mat-card-subtitle>
        <mat-card-content>
          <app-preview
            id="preview"
            [previewStream]="stream"
          ></app-preview>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

