@import '../../../node_modules/@angular/material/theming';

mat-icon {
  margin: 0 15px 0 5px;
}

#foot-panel {
  padding: 10px 2px;
  text-align: center;
  color: mat-color($mat-grey, 500);
}

button {
  margin: 0 0;
}

.no-space {
  line-height: normal;
  color: mat-color($mat-grey, 500);
}
