@import '~@angular/material/theming';

.title {
  color: mat-color($mat-gray, 700);
  margin: 20px 0 0;
}

.setting-icon {
  margin: 0 5px;
  font-size: 20px;
}
.item {
  text-align: start;
}

:host ::ng-deep .mat-list-item-content {
  width: 100%;
}

.item-text {
  max-width: 40%;
  overflow: hidden;
}
