
<div class="mat-h1 title">
  <span>Camera</span>
  <mat-icon class="setting-icon">settings</mat-icon>
</div>

<div *ngIf="!CameraList" class="mat-body">No Device Found</div>
<mat-action-list>
  <button mat-list-item class="item" *ngFor="let camera of CameraList" (click)="toggleCameraConnection(camera)" >
    <div fxLayout="row" fxFill>
      <div class="item-text">
        <p matLine class="mat-body">{{camera.getModel()}}</p>
        <p matLine class="mat-caption">{{camera.getId()}}</p>
      </div>
      <div class="spacer" fxFlex="1 1 auto"></div>
      <div *ngIf="camera.getConnected()" class="mat-small">Connected</div>
    </div>
  </button>

</mat-action-list>
